.contact-div{
  display: flex;
  /* flex-direction: row; */
  align-items:flex-start;
  justify-content:space-evenly;
  padding-top: 60px;
}
.contact-row{
  display:flex;
  flex-direction:column;
  row-gap: 40px;
  width: 600px;
}
.location-div,
.Email-div,
.call-div{
  display: flex;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}
.location-icon-div,
.Email-icon-div,
.call-icon-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff9f942;
  width: 44px;
  height: 44px;
  border-radius: 50px;
}
.location-text,
.Email-text,
.call-text{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: Arial;
}
.location-area,
.Email-area,
.call-area{
  margin-bottom: 0;
  font-size: 14px;
  color: #ccc7c7;
  font-family: Arial;
}

/* the message area code  */
.message-row{
  display: flex;
  flex-direction:column;
  width: 600px;
  row-gap: 10px;
}
.name-email-div{
  margin-bottom: 10px;
}
.name-input,
.email-input{
  width: 49.5%;
}
.subject-message-div{
  display: flex;
  flex-direction:column;
  row-gap: 10px;
}
input{
  height: 44px;
  outline: none;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
textarea{
  outline: none;
  border: none;
  border-radius: 4px;
  /* box-shadow: none; */
  height: 128px;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  resize: vertical;
}
.input-error{
  color: red;
  font-size: 15px;
  font-family: Arial;
}
.message-div{
  display: flex;
  justify-content: center;
  align-content: center;
}
.message-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: 208px;
  /* margin: 20px; */
}
.message-btn:hover{
  border: 2px solid #004278;
  color: #ffff;
  background-color: #004278;
}
@media only screen and (max-width: 768px){
  #contact-overlay {
    padding: 130px 20px;
}
  .contact-div {
    flex-direction: column;
    row-gap: 80px;
  }
  .contact-row {
    width: 730px;
  }
  .message-row {
    width: 730px;
  }
  .name-input, .email-input {
    width: 49.7%;
  }
}
@media only screen and (max-width: 600px){
  #contact-paragraph-id{
    width: 100%;
    font-size: 12px;
  }
  .contact-div {
    flex-direction: column;
    row-gap: 60px;
  }
  .contact-row {
    width: 100%;
  }
  .message-row {
    width: 100%;
    margin-bottom: 30px;
  }
  .name-input{
    margin-bottom: 10px;
  }
  .name-input, 
  .email-input {
    width: 100%;
  }
}